<mat-progress-bar *ngIf="showloader" mode="indeterminate" style="top:0;position: fixed;" color="accent"></mat-progress-bar>
<div  *ngIf="profilehomepage">
<div *ngIf="!mobileview"  [ngStyle]="{'margin-top': '23px','width':!mobileview?'65%':'','margin': '0 auto'}">
    <div class="row" style="height: 30vh;">
        <div class="col-3" >
           <img   *ngIf="!isfromSearch" data-bs-toggle="modal" data-bs-target="#profilepicmodal" [src]="profileimgurl" style="width: 150px;height: 150px;border-radius: 50%;margin-top: 29px;cursor: pointer;object-fit: contain;" />
           <img  *ngIf="isfromSearch"  [src]="profileimgurl" style="width: 150px;height: 150px;border-radius: 50%;margin-top: 29px;object-fit: contain;" />
          
          </div>
        <div class="col">
            <div style="display: flex;margin-left: 48px;margin-top: 32px;">
                <div style="margin-right: 16px;font-size: 19px;">{{AccountName}}</div>
                <div class="editandview" (click)="editprofile()" *ngIf="!isfromSearch">Edit profile</div>
                <div (click)="follow()" class="follow" *ngIf="isfromSearch && !isfollowing">Follow</div>
                <div data-bs-toggle="modal" data-bs-target="#unfollowmodel" class="follow" *ngIf="isfromSearch && isfollowing">Following</div>
                <div class="editandview">View archive</div>
                <div data-bs-toggle="modal" data-bs-target="#settingsModal" ><img src="../../../assets/settings.png" style="width: 33px;height: 28px;margin-left: -7px;cursor: pointer;"/></div>
            </div>
            <div style="display: flex;margin-left: 48px;margin-top: 16px;margin-bottom: 20px;">
                <div style="margin-right: 16px;"><span style="font-weight: bold;">{{post}}</span> Posts</div>
                <div style="margin-right: 16px;"><span style="font-weight: bold;">{{follower}}</span> Followers</div>
                <div style="margin-right: 16px;"><span style="font-weight: bold;">{{following}}</span> Following</div>
            </div>
            <div style="margin-left: 48px;" *ngFor="let d of biodata" >
              <div>{{d}}</div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="mobileview"  [ngStyle]="{'margin-top': '23px','width':'100%','margin': '0 auto'}">
    <div class="row" style="height: 30vh;">
      <div class="mobileaccountname">{{AccountName}}</div>
        <div class="col-3" >
           <img   *ngIf="!isfromSearch" data-bs-toggle="modal" data-bs-target="#profilepicmodal" [src]="profileimgurl" class="mobileprofilepic" />
           <img  *ngIf="isfromSearch"  [src]="profileimgurl" class="mobileprofilepic" />
          
          </div>
          <div class="col">
            <div  style="display: flex;margin-left: 40px;margin-top: 78px;">
              <div style="margin-right: 16px;"><p style="font-weight: bold;margin-bottom: 0px;text-align: center;">{{post}}</p> Posts</div>
              <div style="margin-right: 16px;"><p style="font-weight: bold;margin-bottom: 0px;text-align: center;">{{follower}}</p> Followers</div>
              <div style="margin-right: 16px;"><p style="font-weight: bold;margin-bottom: 0px;text-align: center;">{{following}}</p> Following</div>
             </div>
          </div>
        <div style="margin-top: 11px " class="col">
          <div style="margin-left: 13px;" *ngFor="let d of biodata" >
            <div>{{d}}</div>
          </div>
            <div style="display: flex;margin-left: 6px;margin-top: 32px;">
                
                <div class="editandviewmobile" (click)="editprofile()" *ngIf="!isfromSearch">Edit profile</div>
                <div (click)="follow()" class="follow" *ngIf="isfromSearch && !isfollowing">Follow</div>
                <div data-bs-toggle="modal" data-bs-target="#unfollowmodel" class="follow" *ngIf="isfromSearch && isfollowing">Following</div>
                <div class="editandviewmobile">View archive</div>
                <div data-bs-toggle="modal" data-bs-target="#settingsModal" ><img src="../../../assets/settings.png" style="width: 33px;height: 28px;margin-left: -7px;cursor: pointer;"/></div>
            </div>
        
        </div>
    </div>
</div>


<div *ngIf="!mobileview && Userposts.length!=0" style="width: 74%;margin: 0 auto;">
    <div class="row" style="height: 28vh;border-bottom: 1px solid #d7d6d6;">
        <div class="col-2" style="width: 12%;">
           <!-- <img src="../../../assets/post1.jpg" style="width: 100px;height: 100px;border-radius: 50%;margin-top: 29px" /> -->
           <div class="highlightimage"><img style="
            width: 117%;
            margin-left: -5px;
            margin-top: -1px;
        " src="../../../assets/addhighlight1.png" /></div>
           <p class="highlightname">New</p>
        </div>
        <!-- <div class="col-2" style="width: 12%;">
         
           <div class="highlightimage"></div>
           <p class="highlightname">Highlight2</p>
         </div>
         <div class="col-2" style="width: 12%;">
          
           <div class="highlightimage"></div>
           <p class="highlightname">Highlight3</p>
         </div> -->
    </div>
</div>

<div *ngIf="mobileview && Userposts.length!=0" style="margin: 0 auto;">
  <div class="row" style="height: 25vh;border-bottom: 1px solid #d7d6d6;margin-left: 5px;margin-top: 78px">
      <div class="col-3" >
         <!-- <img src="../../../assets/post1.jpg" style="width: 100px;height: 100px;border-radius: 50%;margin-top: 29px" /> -->
         <div class="mobilehighlightimage"><img style="
          width: 117%;
          margin-left: -5px;
          margin-top: -1px;
      " src="../../../assets/addhighlight1.png" /></div>
         <p class="highlightname">New</p>
      </div>
  </div>
</div>

<div *ngIf="!mobileview" style="margin-top: 23px;width: 74%;margin: 58px auto;">
    <div class="row" style="height: 42vh;" >
      <div *ngIf="Userposts.length==0">
         <div style="width: 231px;margin: 0 auto;">
             <img style="width: 100px;margin-left: 49px;" src="../../../assets/nopost.png"/>
             <p style="font-weight: bold;font-size:37px;">No Posts Yet</p>
         </div>
      </div> 
      <!-- <div *ngIf="Userposts.length!=0">  -->
          <div class="col-4 "  style="margin-bottom: 23px;height: 100%;" *ngFor="let post of Userposts" ><div  data-bs-toggle="modal" data-bs-target="#openpostmodal" (click)="openpost(post)" class="postimg">
            <figure>  
              <img  style="max-width: 100%;height: 281px; object-fit: contain;display: block;margin: auto;" [src]="post.posturl"/>
              <figcaption><p> <i class="fa-solid fa-heart likes"></i> {{post.likes.length}} <i style="transform: scaleX(-1);" class="fa-solid fa-comment comment"></i> {{post.commentdata.length}}</p> </figcaption>
            </figure>
            </div>
          </div>
      <!-- </div> -->
    </div>
</div>

<div *ngIf="mobileview" style="margin-top: 23px; width: 105%;;margin: 58px auto;">
  <div class="row" style="height: 31vh;width: 95%;" >
    <div *ngIf="Userposts.length==0">
       <div style="width: 231px;margin: 0 auto;margin-top: 93px ">
           <img style="width: 100px;margin-left: 49px;" src="../../../assets/nopost.png"/>
           <p style="font-weight: bold;font-size:37px;">No Posts Yet</p>
       </div>
    </div> 
    <!-- <div *ngIf="Userposts.length!=0">  -->
     <div class="col-4"  style="height: fit-content;" *ngFor="let post of Userposts" ><div  data-bs-toggle="modal" data-bs-target="#openpostmodalmoile" (click)="openpost(post)" class="postimgmobile">    
            <img  style="max-width: 98%;height: inherit; object-fit: contain;display: block;margin: auto;" [src]="post.posturl"/>
          </div>
        </div>
          <!-- </div> -->
  </div>
</div>
  
  <!-- Modal -->
  <div class="modal fade" id="settingsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content" style="width: 432px; margin: auto;border-radius: 18px ">
        <div class="modal-body">
          <div style="height: 356px;">
             <div class="settinglinks">Apps and Websites</div>
             <div  class="settinglinks">QR Code</div>
             <div  class="settinglinks">Notifications</div>
             <div  class="settinglinks">Settings and privacy</div>
             <div  class="settinglinks">Supervision</div>
             <div (click)="logout()" data-bs-dismiss="modal"  class="settinglinks">Log Out</div>
             <div  class="settinglinkslast" data-bs-dismiss="modal" >Cancel</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="unfollowmodel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content" style="width: 432px; margin: auto;border-radius: 18px ">
        <div class="modal-body">
          <div style="height: 356px;">
            <div class="settinglinks2" style="height: 98px;">
              <img [src]="profileimgurl" style="width: 55px;height: 55px;border-radius: 50%;cursor: pointer;" />
              <p>{{AccountName}}</p>
            </div>
             <div class="settinglinks1">Add to close friend list</div>
             <div  class="settinglinks1">Add to favorites</div>
             <div  class="settinglinks1">Mute</div>
             <div  class="settinglinks1">Restrict</div>
             <div data-bs-dismiss="modal" (click)="unfollow()"  class="settinglinkslast1">Unfollow</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  

  </div>

  <div class="modal fade" id="profilepicmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content" style="width: 432px; margin: auto;border-radius: 18px ">
        <div class="modal-body">
          <div style="height: 236px;">
             <div style="padding: 25px;font-size: 20px;border-top-left-radius: 18px;border-top-right-radius: 18px;cursor:auto;" class="settinglinks">Change Profile Photo</div>
             <div style="color: #0087e5;font-weight: bolder;" class="settinglinks">
              <label style="cursor: pointer;" *ngIf="showupload" for="uploadpic"> Choose Photo </label>
              <label *ngIf="showsave" style="cursor: pointer;color: rgb(137, 227, 2);" data-bs-dismiss="modal"  (click)="setprofilepic()" > Upload Photo </label>
              <input (change)="storefile($event)" style="display: none;" type="file" id="uploadpic" />
            </div>
             <div style="color: red;font-weight: bold;" class="settinglinks">Remove Current Photo</div>
             <div  data-bs-dismiss="modal"  class="settinglinkslast" style="border-bottom-left-radius: 18px;border-bottom-right-radius: 18px;">Cancel</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="editprofilepage" class="col">
   <div class="row">
       <div style="
       height: 100vh;
       background-color: grey;
   " class="col-3" >
        
       </div>
       <div class="col">
            <div class="profiletext">Edit profile</div>
            <div class="editimg">
              <img [src]="profileimgurl" style="width: 55px;height: 55px;border-radius: 50%;cursor: pointer;box-shadow: 0px 0px 16px #c8c5c5" />
              <span style="font-weight: bold;margin-left: 18px;">{{AccountName}}</span>
              <span  data-bs-toggle="modal" data-bs-target="#profilepicmodal" class="chooseimgbutton">Change photo</span>
             </div>
               <div class="websitetext">Website</div>
             <div  class="websitebox"><input placeholder="Website" class="websiteinput"  type="text" disabled/> 
                 <p style="font-size: 12px;color: grey;margin-top: 6px ">Editing your links is only available on mobile. Visit the Instagram app and edit your profile to change the websites in your bio.</p>
             </div> 
             <div class="biotext">Bio</div>
             <div  class="biobox"><textarea [(ngModel)]="savebiotext" placeholder="Bio" style="overflow:hidden" class="bioinput"  type="text"></textarea> 
             </div> 
             <div class="biotext">Bio</div>
             <div  class="biobox"><select class="bioinput">
              <option selected disabled >Select your gender</option>
                 <option *ngFor="let g of gender">{{g}}</option>
            </select> 
                 <p style="font-size: 12px;color: grey;margin-top: 6px ">This won’t be part of your public profile.</p>
             </div>
             
             <div (click)="editprofilesubmit()" class="submiteditprofile">Submit</div>
       </div>
   </div>
 </div>


 <div class="modal fade" id="PostModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" style="width: 475px; margin: auto;border-radius: 18px;height: 73vh ">
     <div class="settinglinks createnewpost">Create new post</div>
      <div class="modal-body">
        <div style="height: 236px;">
           <div style=" width: 26%; margin: 0 auto;margin-top: 109px;">
           <img src="../../assets/postmodalimage.png" style=" width: 115px;" />
        </div>
           <div  class="selectpost">
             
            <label style="cursor: pointer;" *ngIf="showupload" for="uploadpic"> Select from computer </label>
            <label *ngIf="showsave" style="cursor: pointer;" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#openpostmodalwhenupload"   (click)="Uploadpostimage()" > Upload Photo </label>
            <input (change)="storefile($event)" style="display: none;" type="file" id="uploadpic" />
          </div>
           <!-- <div  data-bs-dismiss="modal"  class="settinglinkslast" style="border-bottom-left-radius: 18px;border-bottom-right-radius: 18px;">Cancel</div> -->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="openpostmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content" style="height: 636px ; margin: auto;">
      <div class="modal-body">
        <div class="row">
          <div id="cancelpostmodal" data-bs-dismiss="modal" ></div>
           <div class="col-7" style="height: 634px;background-color: #f0f0f0fc;border-top-left-radius: 10px; border-bottom-left-radius: 10px;"><img style="max-width: 100%;height: 100%; object-fit: contain;margin: auto;display: block;"[src]="openimgurl" /></div>
           <div class="col">
            <div>
                <div style="border-bottom: 1px solid #e0e0e0;" class="profilepicinpost">
                    <img [src]="profileimgurl" style="width: 34px;height: 34px;border-radius: 50%;cursor: pointer;box-shadow: 0px 0px 1px #b2b1b1;" />
                    <span style="font-weight: 600;margin-left: 18px;font-size: 13px;">{{AccountName}}</span>
                    <button style="float: right;border: none;background: none;font-size: 19px;" data-bs-toggle="modal" data-bs-target="#postmoreoption" ><i  class="fa-solid fa-ellipsis"></i></button>
                </div>
                <div style="border-bottom: 1px solid #e1e1e1;margin-bottom: 12px;max-height: 142px;height: 140px;overflow-y: scroll;" class="profilepicinpost">
                  <img [src]="profileimgurl" style="width: 34px;height: 34px;border-radius: 50%;cursor: pointer;box-shadow: 0px 0px 1px #b2b1b1;" />
                  <span style="font-weight: 600;margin-left: 18px;font-size: 13px;">{{AccountName}}</span>
                  <span style="margin-left: 10px;max-width:200px;word-wrap:break-word;">{{postcaption?.substring(0,20)}}</span>
                  <p style="margin-left: 10px;max-width:349px;word-wrap:break-word;">{{postcaption.length>20?postcaption.substring(20):""}}</p>
                 </div>
                 <div style="overflow-y: scroll;max-height: 253px;height: 253px ">
                  <mat-progress-bar *ngIf="showloader" mode="indeterminate" color="accent"></mat-progress-bar>
                  <div style="margin-top: 10px;" *ngFor="let commentdet of commentdetails">
                    <div style="padding-top: 0px; padding-bottom: 0px; " class="profilepicinpost">
                      <img [src]="commentdet.imageurl" style="width: 34px;height: 34px;border-radius: 50%;cursor: pointer;box-shadow: 0px 0px 1px #b2b1b1;" />
                      <span style="font-weight: 600;margin-left: 18px;font-size: 13px;">{{commentdet.username}}</span>
                      <button data-bs-toggle="modal" data-bs-target="#deletecommentmodal" (click)="opendeletecommentmodal(commentdet.commentuserid, imagename,commentdet.commenttext)" style="float: right;border: none;background: none;font-size: 19px;" ><i  class="fa-solid fa-ellipsis"></i></button>
                      <span style="margin-left: 10px;max-width:200px;word-wrap:break-word;font-size: 13px">{{commentdet.commenttext?.substring(0,30)}}</span>
                      <p style="margin-left: 10px;max-width:349px;word-wrap:break-word;font-size: 13px">{{commentdet.commenttext.length>30?commentdet.commenttext.substring(30):""}}</p>
                    </div> 
                  </div>
                </div> 
                <div>
                  <div style="margin-top: 12px" class="innerlikesandcomment">
                    <span (click)="savelikes()" *ngIf="!liked"><i  class="fa-regular fa-heart menuiconpost"></i></span>
                    <span (click)="dislike()" *ngIf="liked"><i class="fa-solid fa-heart menuiconpost" style="color: #ff0000;"></i></span> 
                    <span><i style="transform: scaleX(-1);" class="fa-regular fa-comment menuiconpost"></i></span>
                    <span><i style="rotate: 24deg;" class="fa-regular fa-paper-plane menuiconpost"></i></span>
                    <span ><i style="float: right;" class="fa-regular fa-bookmark menuiconpost"></i></span>
                    <!-- <span ><i style="float: right;" class="fa-solid fa-bookmark menuiconpost"></i></span>    -->
                   </div>
                </div>
                <p *ngIf="likes>0" style="margin-top: 10px;font-weight: 500;">{{likes}} likes</p>
                <p *ngIf="likes==0" style="margin-top: 10px;font-weight: 500;">Be the first to like this</p>
                <div style="border-top: 1px solid #e2e2e2;margin-left: -12px;"><textarea class="commentinput" style="border: none;margin-top: 19px;margin-left: 13px;width: 401px"  (keyup)="addcomment()" [(ngModel)]="usercomment" type="text" placeholder="Add a comment..." autofocus></textarea>
                  <span  (click)="postcomment()" *ngIf="showpost" style="color: #0087e5;float: right;font-size: 16px;margin-right: 20px;font-weight: 500;margin-top: 19px;cursor: pointer;">Post</span></div>
            </div>
            <div></div>
            <div></div>
           </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="openpostmodalmoile" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content" style="height: 147vh ; margin: auto;">
      <div class="modal-body">
        <div class="row">
          <div id="cancelpostmodalmobile"><i  data-bs-dismiss="modal" class="fa-solid fa-xmark" style="
            float: right;
            margin-top: 8px;
            font-size: 28px;
            margin-right: 10px;
        "></i></div>
        
           <div class="row" style="height: 345px;background-color: #f0f0f0fc;border-top-left-radius: 10px; border-top-right-radius: 10px;margin-left: 12px;
           width: 93%;"><img style="max-width: 100%;height: 100%; object-fit: contain;margin: auto;display: block;"[src]="openimgurl" /></div>
           <div class="row" style="
           margin-left: 0px;
       ">
            <div>
                <div style="border-bottom: 1px solid #e0e0e0;" class="profilepicinpost">
                    <img [src]="profileimgurl" style="width: 34px;height: 34px;border-radius: 50%;cursor: pointer;box-shadow: 0px 0px 1px #b2b1b1;" />
                    <span style="font-weight: 600;margin-left: 18px;font-size: 13px;">{{AccountName}}</span>
                    <button style="float: right;border: none;background: none;font-size: 19px;" data-bs-toggle="modal" data-bs-target="#postmoreoptionmobile" ><i  class="fa-solid fa-ellipsis"></i></button>
                </div>
                <div style="border-bottom: 1px solid #e1e1e1;margin-bottom: 12px;max-height: 142px;height: 140px;overflow-y: scroll;width: 107%;" class="profilepicinpost">
                  <img [src]="profileimgurl" style="width: 34px;height: 34px;border-radius: 50%;cursor: pointer;box-shadow: 0px 0px 1px #b2b1b1;" />
                  <span style="font-weight: 600;margin-left: 18px;font-size: 13px;">{{AccountName}}</span>
                  <span style="margin-left: 10px;max-width:200px;word-wrap:break-word;">{{postcaption?.substring(0,20)}}</span>
                  <p style="margin-left: 10px;max-width:349px;word-wrap:break-word;">{{postcaption.length>20?postcaption.substring(20):""}}</p>
                 </div>
                 <div style="overflow-y: scroll;max-height: 253px;height: 253px;width: 103%;">
                  <mat-progress-bar *ngIf="showloader" mode="indeterminate" color="accent"></mat-progress-bar>
                  <div style="margin-top: 10px;" *ngFor="let commentdet of commentdetails">
                    <div style="padding-top: 0px; padding-bottom: 0px; " class="profilepicinpost">
                      <img [src]="commentdet.imageurl" style="width: 34px;height: 34px;border-radius: 50%;cursor: pointer;box-shadow: 0px 0px 1px #b2b1b1;" />
                      <span style="font-weight: 600;margin-left: 18px;font-size: 13px;">{{commentdet.username}}</span>
                      <button data-bs-toggle="modal" data-bs-target="#deletecommentmodal" (click)="opendeletecommentmodal(commentdet.commentuserid, imagename,commentdet.commenttext)" style="float: right;border: none;background: none;font-size: 19px;" ><i  class="fa-solid fa-ellipsis"></i></button>
                      <span style="margin-left: 10px;max-width:200px;word-wrap:break-word;font-size: 13px">{{commentdet.commenttext?.substring(0,30)}}</span>
                      <p style="margin-left: 10px;max-width:349px;word-wrap:break-word;font-size: 13px">{{commentdet.commenttext.length>30?commentdet.commenttext.substring(30):""}}</p>
                    </div> 
                  </div>
                </div> 
                <div>
                  <div style="margin-top: 12px" class="innerlikesandcomment">
                    <span (click)="savelikes()" *ngIf="!liked"><i  class="fa-regular fa-heart menuiconpost"></i></span>
                    <span (click)="dislike()" *ngIf="liked"><i class="fa-solid fa-heart menuiconpost" style="color: #ff0000;"></i></span> 
                    <span><i style="transform: scaleX(-1);" class="fa-regular fa-comment menuiconpost"></i></span>
                    <span><i style="rotate: 24deg;" class="fa-regular fa-paper-plane menuiconpost"></i></span>
                    <span ><i style="float: right;" class="fa-regular fa-bookmark menuiconpost"></i></span>
                    <!-- <span ><i style="float: right;" class="fa-solid fa-bookmark menuiconpost"></i></span>    -->
                   </div>
                </div>
                <p *ngIf="likes>0" style="margin-top: 10px;font-weight: 500;">{{likes}} likes</p>
                <p *ngIf="likes==0" style="margin-top: 10px;font-weight: 500;">Be the first to like this</p>
                <div style="border-top: 1px solid #e2e2e2;margin-left: -12px;"><textarea class="commentinput" style="border: none;margin-top: 19px;margin-left: 13px;width: 274px "  (keyup)="addcomment()" [(ngModel)]="usercomment" type="text" placeholder="Add a comment..." autofocus></textarea>
                  <span  (click)="postcomment()" *ngIf="showpost" style="color: #0087e5;float: right;font-size: 16px;margin-right: 20px;font-weight: 500;margin-top: 19px;cursor: pointer;">Post</span></div>
            </div>
            <div></div>
            <div></div>
           </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="openpostmodalwhenupload" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content" style="height: 500px ; margin: auto;width: 74%;">
      <div class="modal-body">
        <div class="row">
           <div class="col-7" style="height: 498px;background-color: #f0f0f0fc"><img style="max-width: 100%;height: 100%; object-fit: contain;display: block;margin: auto;"[src]="instantuploadedimgurl" /></div>
           <div class="col">
            <div>
                <div class="profilepicinpost">
                    <img [src]="profileimgurl" style="width: 34px;height: 34px;border-radius: 50%;cursor: pointer;box-shadow: 0px 0px 1px #b2b1b1;" />
                    <span style="font-weight: bold;margin-left: 18px;">{{AccountName}}</span>
                    <button class="share"  (click)="createpost()"  data-bs-dismiss="modal" >Share</button>
                </div>

                <div style="margin-top: 22px;">
                  <input class="captioninput" [(ngModel)]="caption" style="border: none;" type="text" placeholder="Write a caption..." />
                 </div>
            </div>
            <div></div>
            <div></div>
           </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="postmoreoption" style="background-color: rgb(25 25 25 / 78%);" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" >
    <div class="modal-content" style="width: 418px; margin: auto;">
      <div class="modal-body" style="box-shadow: 0px 0px 24px #424242;">
        <div style="height: 461px;">
           <div class="settinglinks" data-bs-dismiss="modal" (click)="deletepost(imagename)" style="color: red;">Delete</div>
           <div  class="settinglinks">Edit</div>
           <div  class="settinglinks">Hide like count to others</div>
           <div  class="settinglinks">Turn off commenting</div>
           <div  class="settinglinks">Go to post</div>
           <div  class="settinglinks">Share to...</div>
           <div  class="settinglinks">Copy link</div>
           <div  class="settinglinks">Embeded</div>
           <div  class="settinglinkslast" data-bs-dismiss="modal" >Cancel</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="postmoreoptionmobile" style="background-color: rgb(25 25 25 / 78%);" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" >
    <div class="modal-content" style="width: 337px; margin: auto;">
      <div class="modal-body" style="box-shadow: 0px 0px 24px #424242;">
        <div style="height: 461px;">
           <div class="settinglinks" data-bs-dismiss="modal" (click)="deletepost(imagename)" style="color: red;">Delete</div>
           <div  class="settinglinks">Edit</div>
           <div  class="settinglinks">Hide like count to others</div>
           <div  class="settinglinks">Turn off commenting</div>
           <div  class="settinglinks">Go to post</div>
           <div  class="settinglinks">Share to...</div>
           <div  class="settinglinks">Copy link</div>
           <div  class="settinglinks">Embeded</div>
           <div  class="settinglinkslast" data-bs-dismiss="modal" >Cancel</div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="deletecommentmodal" style="background-color: rgb(25 25 25 / 78%);" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" >
    <div class="modal-content" [ngStyle]="{'width': mobileview?'338px':'394px', 'margin': 'auto'}">
      <div class="modal-body" style="box-shadow: 0px 0px 24px #424242;">
        <div style="height: 98px;">
           <div class="settinglinks" style="color: red;padding: 11px;text-align: center;cursor: pointer;margin-top: 5px;border-bottom: 1px solid #d1d1d1;" data-bs-dismiss="modal" (click)="deletecomment(postuseridfordelcomment,imagenamefordelcomment,commentfordel)">Delete</div>
           <div  class="settinglinkslast" style="padding: 11px;text-align: center;cursor: pointer;" data-bs-dismiss="modal" >Cancel</div>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="modal fade" id="openpostmodalwhenuploadmobile" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content" style="height: 561px ; margin: auto;width: 100%;">
      <div class="modal-body">
        <div class="row">
          <div>  <i data-bs-dismiss="modal" class="fa-solid fa-xmark" style="
            float: right;
    margin-top: 3px;
    font-size: 28px;
    margin-right: 6px;
    cursor: pointer;
        "></i></div>
           <div class="row" style="height: 353px;background-color: #f0f0f0fc;margin-top: 4%;width: 93%;
           margin-left: 13px;"><img style="max-width: 100%;height: 100%; object-fit: contain;display: block;margin: auto;"[src]="instantuploadedimgurl" /></div>
           <div class="row" style="
           margin-top: 15px;margin-left: 8px;
       ">
            <div>
                <div class="profilepicinpost">
                    <img [src]="profileimgurl" style="width: 34px;height: 34px;border-radius: 50%;cursor: pointer;box-shadow: 0px 0px 1px #b2b1b1;" />
                    <span style="font-weight: bold;margin-left: 18px;">{{AccountName}}</span>
                    <button class="share" (click)="createpost()" data-bs-dismiss="modal" >Share</button>
                </div>
                <div style="margin-top: 22px;">
                 <textarea class="captioninput" [(ngModel)]="caption" style="border: none;width: 100%;margin-top: -7px;" type="text" placeholder="Write a caption"></textarea>
                </div>
            </div>
            <div></div>
            <div></div>
           </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="PostModalmobile" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" style="width: 475px; margin: auto;border-radius: 18px;height: 73vh ">
     <div style="font-size: 17px;
     font-weight: 600;
     cursor: auto;
     border-bottom: 1px solid #c6c6c6;
     width: 100%;
     text-align: center;
     border-top-left-radius: 18px;
     border-top-right-radius: 18px;
     padding: 11px;" class="settinglinks">Create new post <i data-bs-dismiss="modal" class="fa-solid fa-xmark" style="
            float: right;
            margin-top: -2px;
            font-size: 28px;
            margin-right: 10px;
            cursor: pointer;
        "></i></div>
      <div class="modal-body">
       
        <div style="height: 236px;">
           
          
           <div style="
           width: 26%;
           margin: 0 auto;
           margin-top: 109px;
       ">
           <img src="../../assets/postmodalimage.png" style=" width: 115px;" />
        </div>
           <div  class="selectpost">
             
            <label style="cursor: pointer;" *ngIf="showupload" for="uploadpic"> Select from computer </label>
            <label *ngIf="showsave" style="cursor: pointer;" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#openpostmodalwhenuploadmobile"   (click)="Uploadpostimage()" > Upload Photo </label>
            <input #myInput (change)="storefile($event)" style="display: none;" type="file" id="uploadpic" />
          </div>
           <!-- <div  data-bs-dismiss="modal"  class="settinglinkslast" style="border-bottom-left-radius: 18px;border-bottom-right-radius: 18px;">Cancel</div> -->
        </div>
      </div>
    </div>
  </div>
</div>