.postimg{
    background-color: grey;
    border: 3px solid white; 
    cursor: pointer;
}

.highlightimage{
    width: 88px;
    height: 88px;
    border-radius: 50%; 
    border: 1px solid grey;
    margin-top: 29px;
    cursor: pointer;
}
.highlightname{
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    margin-top: 13px;
}
.editandview{
    margin-right: 16px;
    background-color: #e4e4e4;
    padding: 5px 11px;
    border-radius: 7px;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
}
.follow{
    margin-right: 16px;
    background-color: rgb(0 149 246);
    padding: 6px 16px;
    border-radius: 7px;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    color: white;

}
.follow:hover{
    background-color:rgb(17, 100, 224) ;
}

    
.editandview:hover{
    background-color: rgb(186, 186, 186);
}

.settinglinks{
    text-align: center;
    padding: 13px;
    border-bottom: 1px solid rgb(218, 218, 218);
    cursor: pointer;
}
.settinglinks2{
    text-align: center;
    padding: 13px;
    border-bottom: 1px solid rgb(218, 218, 218);
    cursor: pointer;
}
.settinglinks1{
    padding: 14px;
    cursor: pointer;
}
.settinglinkslast1{
    padding: 14px;
    cursor: pointer;
    
}
.settinglinkslast1:hover{
    background-color: rgb(228, 228, 228);
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
}

.settinglinks:hover{
   background-color: rgb(228, 228, 228);
}
.settinglinks1:hover{
    background-color: rgb(236, 236, 236);
 }
.settinglinkslast{
    text-align: center;
    padding: 13px;
    cursor: pointer;
}
.settinglinkslast:hover{
  
   background-color: rgb(228, 228, 228);
}
.modal-body{
    padding: 0px !important;
}

.editimg{
    background-color: #e8e8e8;
    width: 64%;
    margin: 0 auto;
    margin-top: 45px;
    padding: 17px;
    border-radius: 17px;
}

.websitebox{
    width: 68%;
    margin: 0 auto;
    padding: 17px;
    border-radius: 17px;
}
.profiletext{
    width: 64%;
    margin: 0 auto;
    margin-top: 52px;
    font-size: 20px;
    font-weight: bold;
}
.websitetext{
    width: 64%;
    margin: 0 auto;
    margin-top: 26px;
    font-size: 17px;
    font-weight: bold;
}
.websiteinput{
    background-color: #e8e8e8;
    width: 100%;
    border-radius: 11px;
    padding: 9px;
    border: 1px solid #c5c5c5;
}

.biotext{
    width: 64%;
    margin: 0 auto;
    margin-top: -10px;
    font-size: 17px;
    font-weight: bold;
}
.bioinput{
    width: 100%;
    border-radius: 11px;
    padding: 9px;
    border: 1px solid #c5c5c5;
}
.bioinput:focus{
    outline-color: #c5c5c5;
}
.biobox{
    width: 68%;
    margin: 0 auto;
    padding: 17px;
    border-radius: 17px;
}
.chooseimgbutton{
    background-color: #3d93ff;
    color: white;
    padding: 6px 14px;
    border-radius: 8px;
    margin-left: 235px;
    cursor: pointer;
}

.submiteditprofile{
    background-color: #3d93ff;
    color: white;
    padding: 12px 14px;
    border-radius: 8px;
    margin-left: 57%;
    cursor: pointer;
    margin-right: 164px;
    text-align: center;
}

.chooseimgbutton:hover{
    background-color:rgb(17, 100, 224) ;
}
