<mat-progress-bar *ngIf="showloader" mode="indeterminate" color="accent"></mat-progress-bar>
<div >
    <div class="row" [ngStyle]="{'backgroundColor':isdark?'black':'white','color':isdark?'white':'black'}">
       
      <div *ngIf="!navbarformobile" style="height: 100vh; border: 1px solid #c9c8c8;position: fixed;border-top: none;" class="col-2">
        <img  [ngStyle]="{'filter':isdark?'invert(1)':'none'}" style="height: 35px;margin-top: 40px;margin-bottom: 22px;margin-left: 18px;" src="../../assets/loginlogo.png"/>
        <div style="width: 97%;margin: 10px auto;height: 100vh;margin-left: 10px">
            <div [ngStyle]="{'backgroundColor':homeoptionselected && !Searchpageselected?isdark?'#282828':'rgb(233, 233, 233)':'','fontWeight':homeoptionselected && !Searchpageselected?'bold':'','color':homeoptionselected?isdark?'white':'':''}" class="menu" (click)="showhomepage()"><i class="fa-solid fa-house menuicon"></i><span>Home</span></div>
            <div (click)="showsearch()" [ngStyle]="{'backgroundColor':Searchpageselected?isdark?'#282828':'rgb(233, 233, 233)':'','fontWeight':Searchpageselected?'bold':''}" class="menu"><i class="fa-solid fa-magnifying-glass menuicon"></i><span>Search
             
            </span></div>
            <div [ngStyle]="{'backgroundColor':isdark?'black':''}" *ngIf="showsearchbox" class="dropdown-contentsearch">
               <div [ngStyle]="{'backgroundColor':isdark?'black':''}" class="innerdropdown">
                 <div style="font-size: 24px;font-weight: 600;" class="moremenu">Search</div>
                 <div class="moremenu"><input (keyup)="filterUser($event)" (keydown)="filterUser($event)" class="searchinput" type="text" placeholder="Search"/></div>
                 <div class="moremenu" *ngFor="let user of Allusersfilter">
                  <div (click)="openuserprofile(user.userid)">
                      <img [src]="user.imgurl" class="profilepicmenu2"><span>{{user.username}}</span>
                  </div>
                 </div>
               </div>
            </div>
            <div class="menu"><i class="fa-regular fa-compass menuicon"></i><span>Explore</span></div>
            <div class="menu"><i class="fa-solid fa-clapperboard menuicon"></i><span>Reels</span></div>
            <div class="menu"><i class="fa-brands fa-facebook-messenger menuicon"></i><span>Messages</span></div>
            <div class="menu"><i class="fa-regular fa-heart menuicon"></i><span>Notifications</span></div>
            <div class="menu" data-bs-toggle="modal" data-bs-target="#PostModal" (click)="create()" ><i class="fa-regular fa-square-plus menuicon"></i><span>Create</span></div>
            <div [ngStyle]="{'backgroundColor':profilepageselected && !Searchpageselected?isdark?'#282828':'rgb(233, 233, 233)':'','fontWeight':profilepageselected && !Searchpageselected?'bold':''}" class="menu" (click)="showprofilepage()"><img [ngStyle]="{'border':profilepageselected?'2px solid black':'none'}" [src]="profilepicurl" class="profilepicmenu"><span>Profile</span></div>
            
            <div #moreoption class="menu" style="margin-top: 48px;" (click)="showmore()"><i #moreoption1 class="fa-solid fa-bars menuicon"></i><span #moreoption2 class="more">More
               <div #moremenus [ngStyle]="{'backgroundColor':isdark?'black':''}" *ngIf="showmoredropdown" class="dropdown-content">
                  <div [ngStyle]="{'backgroundColor':isdark?'black':''}" style="padding-top: 1px ;width: 253px;height: 443px;border-radius: 13px;box-shadow: 1px 1px 13px #c6c5c5;">
                    <div class="moremenu">Settings</div>
                    <div class="moremenu">Your activity</div>
                    <div class="moremenu">Saved</div>
                    <div (click)="showswitchappearance()" class="moremenu">Switch appearance</div>
                    <div class="moremenu">Report a problem</div>
                    <div class="moremenu">Switch accounts</div> 
                    <div (click)="logout()" class="moremenu">Log out</div>
                  </div>
               </div>
               <div #backopt [ngStyle]="{'backgroundColor':isdark?'black':''}" *ngIf="switchappearance" class="dropdown-content1">
                  <div [ngStyle]="{'backgroundColor':isdark?'black':''}" style="padding-top: 1px ;width: 253px;height: 107px;border-radius: 13px;box-shadow: 1px 1px 13px #c6c5c5;">
                    <div  class="moremenu1" (click)="back()"><i   class="fa-light fa-less-than"></i><span style="margin-left: 15px;">Switch appearance</span>
                     <span *ngIf="!isdark">
                     <i style="float: right;margin-right: 5px;margin-top: 3px;font-size: 22px;" class="fa-regular fa-moon fa-flip-horizontal"></i>
                    </span>
                    <span *ngIf="isdark">
                     <i style="float: right;margin-right: 5px;margin-top: 3px;font-size: 22px;" class="fa-regular fa-sun"></i>
                    </span>
               </div>
                    <div (click)="changemode()" class="moremenu2">{{mode}}</div>
                  </div>
               </div>
            </span></div>
        </div> 
      </div>
   
      <div *ngIf="homeoptionselected && mobileview" [ngStyle]="{'height': '200vh','margin-left':!homepageformobile?'250px':''}" class="col-6">
         <div style=" margin-top: 29px;">
            <div class="postbox">
                <div class="row userdetail">
                  <div class="inneruserdetail">
                   <span><img [src]="defaultpicurl" class="postsimage"></span>
                   <span>UserName</span>
                   <span>.Timestamp</span>
                   <span>.follow</span>
                  </div>
                </div>
                <div class="row post">
                   <img src="../../assets/post1.jpg"/>
                </div>
                <div class="row likesandcommentmobile">
                  <div class="innerlikesandcommentmobile">
                    <span  (click)="like()" *ngIf="!liked"><i  class="fa-regular fa-heart menuiconpost"></i></span>
                    <span (click)="like()" *ngIf="liked"><i class="fa-solid fa-heart menuiconpost" style="color: #ff0000;"></i></span>
                    <span><i style="transform: scaleX(-1);" class="fa-regular fa-comment menuiconpost"></i></span>
                    <span><i style="rotate: 24deg;" class="fa-regular fa-paper-plane menuiconpost"></i></span>
                    <span (click)="bookmark()" *ngIf="!showbookmark"><i style="float: right;" class="fa-regular fa-bookmark menuiconpost"></i></span>
                    <span (click)="bookmark()" *ngIf="showbookmark"><i style="float: right;" class="fa-solid fa-bookmark menuiconpost"></i></span>
                    
                   </div>
                   <p>n likes</p>
                   <p>Captions</p>
                   <input class="commentinput" type="text" placeholder="Add a comment" />
                </div>
               
            </div>


            <div class="postbox">
               <div class="row userdetail">
                 <div class="inneruserdetail">
                  <span><i class="fa-solid fa-user menuiconpost"></i></span>
                  <span>UserName</span>
                  <span>.Timestamp</span>
                  <span>.follow</span>
                 </div>
               </div>
               <div class="row post">
                  <img src="../../assets/post2.jpg"/>
               </div>
               <div class="row likesandcomment">
                 <div class="innerlikesandcomment">
                   <span  (click)="like()" *ngIf="!liked"><i  class="fa-regular fa-heart menuiconpost"></i></span>
                   <span (click)="like()" *ngIf="liked"><i class="fa-solid fa-heart menuiconpost" style="color: #ff0000;"></i></span>
                   <span><i style="transform: scaleX(-1);" class="fa-regular fa-comment menuiconpost"></i></span>
                   <span><i style="rotate: 24deg;" class="fa-regular fa-paper-plane menuiconpost"></i></span>
                   <span (click)="bookmark()" *ngIf="!showbookmark"><i style="float: right;" class="fa-regular fa-bookmark menuiconpost"></i></span>
                   <span (click)="bookmark()" *ngIf="showbookmark"><i style="float: right;" class="fa-solid fa-bookmark menuiconpost"></i></span>
                   
                  </div>
                  <p>n likes</p>
                  <p>Captions</p>
                  <input class="commentinput" type="text" placeholder="Add a comment" />
               </div>
              
           </div>

            
           <div class="postbox">
            <div class="row userdetail">
              <div class="inneruserdetail">
               <span><i class="fa-solid fa-user menuiconpost"></i></span>
               <span>UserName</span>
               <span>.Timestamp</span>
               <span>.follow</span>
              </div>
            </div>
            <div class="row post">
               <img src="../../assets/post3.jpg"/>
            </div>
            <div class="row likesandcomment">
              <div class="innerlikesandcomment">
                <span  (click)="like()" *ngIf="!liked"><i  class="fa-regular fa-heart menuiconpost"></i></span>
                <span (click)="like()" *ngIf="liked"><i class="fa-solid fa-heart menuiconpost" style="color: #ff0000;"></i></span>
                <span><i style="transform: scaleX(-1);" class="fa-regular fa-comment menuiconpost"></i></span>
                <span><i style="rotate: 24deg;" class="fa-regular fa-paper-plane menuiconpost"></i></span>
                <span (click)="bookmark()" *ngIf="!showbookmark"><i style="float: right;" class="fa-regular fa-bookmark menuiconpost"></i></span>
                <span (click)="bookmark()" *ngIf="showbookmark"><i style="float: right;" class="fa-solid fa-bookmark menuiconpost"></i></span>
                
               </div>
               <p>n likes</p>
               <p>Captions</p>
               <input class="commentinput" type="text" placeholder="Add a comment" />
            </div>
           
        </div>

            
        <div class="postbox">
         <div class="row userdetail">
           <div class="inneruserdetail">
            <span><i class="fa-solid fa-user menuiconpost"></i></span>
            <span>UserName</span>
            <span>.Timestamp</span>
            <span>.follow</span>
           </div>
         </div>
         <div class="row post">
            <img src="../../assets/post4.jpg"/>
         </div>
         <div class="row likesandcomment">
           <div class="innerlikesandcomment">
             <span  (click)="like()" *ngIf="!liked"><i  class="fa-regular fa-heart menuiconpost"></i></span>
             <span (click)="like()" *ngIf="liked"><i class="fa-solid fa-heart menuiconpost" style="color: #ff0000;"></i></span>
             <span><i style="transform: scaleX(-1);" class="fa-regular fa-comment menuiconpost"></i></span>
             <span><i style="rotate: 24deg;" class="fa-regular fa-paper-plane menuiconpost"></i></span>
             <span (click)="bookmark()" *ngIf="!showbookmark"><i style="float: right;" class="fa-regular fa-bookmark menuiconpost"></i></span>
             <span (click)="bookmark()" *ngIf="showbookmark"><i style="float: right;" class="fa-solid fa-bookmark menuiconpost"></i></span>
             
            </div>
            <p>n likes</p>
            <p>Captions</p>
            <input class="commentinput" type="text" placeholder="Add a comment" />
         </div>
        
     </div>

            
     <div class="postbox">
      <div class="row userdetail">
        <div class="inneruserdetail">
         <span><i class="fa-solid fa-user menuiconpost"></i></span>
         <span>UserName</span>
         <span>.Timestamp</span>
         <span>.follow</span>
        </div>
      </div>
      <div class="row post">
         <img src="../../assets/post5.jpg"/>
      </div>
      <div class="row likesandcomment">
        <div class="innerlikesandcomment">
          <span  (click)="like()" *ngIf="!liked"><i  class="fa-regular fa-heart menuiconpost"></i></span>
          <span (click)="like()" *ngIf="liked"><i class="fa-solid fa-heart menuiconpost" style="color: #ff0000;"></i></span>
          <span><i style="transform: scaleX(-1);" class="fa-regular fa-comment menuiconpost"></i></span>
          <span><i style="rotate: 24deg;" class="fa-regular fa-paper-plane menuiconpost"></i></span>
          <span (click)="bookmark()" *ngIf="!showbookmark"><i style="float: right;" class="fa-regular fa-bookmark menuiconpost"></i></span>
          <span (click)="bookmark()" *ngIf="showbookmark"><i style="float: right;" class="fa-solid fa-bookmark menuiconpost"></i></span>
          
         </div>
         <p>n likes</p>
         <p>Captions</p>
         <input class="commentinput" type="text" placeholder="Add a comment" />
      </div>
     
  </div>
         </div>
      </div>


      <div *ngIf="homeoptionselected && !mobileview" [ngStyle]="{'height': '200vh','margin-left':!homepageformobile?'250px':''}" class="col-6">
        <div style=" margin-top: 29px;">
        
           <div class="postbox" *ngFor="let postdata of sortData()">
            <div class="row userdetail">
              <div class="inneruserdetail" style="display: flex;">
               <span><img [src]="postdata.profileurl" class="postsimage"></span>
               <span style="margin-right: 4px;">{{postdata.username}}</span>
               <span *ngIf="!postdata.istodayspost" style="margin-left: 2px;margin-right: 2px;">&#8231; {{postdata.ageofpost}} &#8231;</span>
               <span *ngIf="postdata.istodayspost" style="margin-left: 2px;margin-right: 2px;">&#8231; {{postdata.todaypostage}} &#8231;</span>
          
               <span style="margin-left: 2px; color: #009cf6;font-weight: 500;"> Follow</span>
              </div>
            </div>
            <div class="row">
               <img [src]="postdata.posturl"/>
            </div>
            <div style="width: 100%;" class="row likesandcomment">
              <div class="innerlikesandcomment">
                <span (click)="savelikes(postdata.userid,postdata.imagename)" *ngIf="!postdata.liked"><i  class="fa-regular fa-heart menuiconpost"></i></span>
                <span (click)="dislike(postdata.userid,postdata.imagename)" *ngIf="postdata.liked"><i class="fa-solid fa-heart menuiconpost" style="color: #ff0000;"></i></span>
                <span data-bs-toggle="modal" data-bs-target="#openpostmodalhomepage" (click)="openpostmodal(postdata)"><i style="transform: scaleX(-1);" class="fa-regular fa-comment menuiconpost"></i></span>
                <span ><i style="rotate: 24deg;" class="fa-regular fa-paper-plane menuiconpost"></i></span>
                <span (click)="bookmark()" *ngIf="!showbookmark"><i style="float: right;margin-right: -21px" class="fa-regular fa-bookmark menuiconpost"></i></span>
                <span (click)="bookmark()" *ngIf="showbookmark"><i style="float: right;margin-right: -21px" class="fa-solid fa-bookmark menuiconpost"></i></span>
                
               </div>
               <p *ngIf="postdata.likes>0" style="margin-top: 10px;font-weight: 600;">{{(postdata.likes)}} likes</p>
               <p *ngIf="postdata.likes==0" style="margin-top: 10px;font-weight: 600;">Be the first to like this</p>
               <div style="display: flex;height: 23px ">
                   <p style="margin-top: -4px;font-weight: 600; ">{{postdata?.username}}</p><span style="margin-top: -4px ;margin-left: 10px;max-width:200px;word-wrap:break-word;">{{postdata.postcaption?.substring(0,30)}}</span>
                </div>
               <p style="margin-left: 10px;max-width:349px;word-wrap:break-word;">{{postdata.postcaption?.length>30?postdata.postcaption.substring(30):""}}</p>
               <p style="margin-top: -12px;margin-bottom: 5px;cursor: pointer;color: grey;" *ngIf="postdata?.commentdata?.length>0" data-bs-toggle="modal" data-bs-target="#openpostmodalhomepage" (click)="openpostmodal(postdata)">View all {{postdata?.commentdata?.length}} comments</p>
               <div style="border-bottom: 1px solid #e2e2e2;margin-left: 11px;"><textarea class="commentinput" style="border: none;width: 386px;height: 48px;margin-left: -8px "  (keyup)="addcomment()" [(ngModel)]="usercomment" type="text" placeholder="Add a comment..."></textarea>
                <span  (click)="postcomment(postdata?.userid,postdata?.imagename)" *ngIf="showpost" style="color: rgb(9 179 255);float: right;font-size: 16px;margin-right: 20px;font-weight: 500;margin-top: 19px;cursor: pointer;">Post</span></div>
                <!-- <emoji-mart class="emoji-mart" set="google" *ngIf="showEmojiPicker" (emojiSelect)="addEmoji($event)" title="Pick your emoji…"></emoji-mart> -->
             
               </div>
           
        </div>
        </div>
     </div>

      <div *ngIf="homeoptionselected && !suggestionsforMobile" style="height: 100vh;" class="col-4">        
         <div style="margin-top: 27px;margin-left: 73px;font-size: 13px;">
            <div class="suggestionaccount" style="margin-bottom: 30px;margin-left: -9px;"><img [src]="profilepicurl" class="profilepicmenu2"><span>{{AccountName}}</span><span class="followlink">Switch</span></div>
            <div style="width: 73%;margin-bottom: 4px; ">
               <span style="font-size: 14px;font-weight: 500; color: grey;">Suggested for you</span>
               <span style="float: right;font-weight: bold;">See All</span>
            </div>
            <div class="suggestionaccount" (click)="openuserprofile(user.userid)" *ngFor="let user of Allusers"><img [src]="user.imgurl" class="profilepicmenu2"><span>{{user.username}}</span><span class="followlink">Follow</span></div>
         </div>
      </div>

      <div *ngIf="profilepageselected" [ngStyle]="{'margin-left':!homepageformobile?'250px':''}" class="col">
         <app-profilepage></app-profilepage>
      </div>
      <div *ngIf="profilepageforsearch"  [ngStyle]="{'margin-left':!homepageformobile?'250px':''}" class="col">
         <app-profilepage></app-profilepage>
      </div>
    </div>
</div>

<!-- <ngx-spinner bdColor = "rgba(0, 0, 0, 0.7)" size = "medium" color = "white" type = "ball-scale-multiple" [fullScreen] = "true"><img src="../../assets/loader.png" style="width: 140px; height: 140px;margin-top: -135px;" /></ngx-spinner> -->

<!-- <ngx-spinner bdColor = "white" size = "medium" color ="#dd0992" type = "ball-scale-multiple" [fullScreen] = "true"><img src="../../assets/loader.png" style="width: 120px;height: 120px;margin-top: -138px " /></ngx-spinner>

-->
<ngx-spinner bdColor = "#ffffffc2" size = "medium" color ="#dd0992" type = "ball-scale-multipl" [fullScreen] = "true"><img src="../../assets/instaloader1.gif" style="width: 219px;height: 219px;margin-top: -138px " /></ngx-spinner>

<div class="modal fade" id="PostModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered">
     <div class="modal-content" style="width: 475px; margin: auto;border-radius: 18px;height: 73vh ">
      <div style="font-size: 17px;
      font-weight: 600;
      cursor: auto;
      border-bottom: 1px solid #c6c6c6;
      width: 100%;
      text-align: center;
      border-top-left-radius: 18px;
      border-top-right-radius: 18px;
      padding: 11px;" class="settinglinks">Create new post</div>
       <div class="modal-body">
        
         <div style="height: 236px;">
            
           
            <div style="
            width: 26%;
            margin: 0 auto;
            margin-top: 109px;
        ">
            <img src="../../assets/postmodalimage.png" style=" width: 115px;" />
         </div>
            <div  class="selectpost">
              
             <label style="cursor: pointer;" *ngIf="showupload" for="uploadpic"> Select from computer </label>
             <label *ngIf="showsave" style="cursor: pointer;" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#openpostmodalwhenupload"   (click)="Uploadpostimage()" > Upload Photo </label>
             <input #myInput (change)="storefile($event)" style="display: none;" type="file" id="uploadpic" />
           </div>
            <!-- <div  data-bs-dismiss="modal"  class="settinglinkslast" style="border-bottom-left-radius: 18px;border-bottom-right-radius: 18px;">Cancel</div> -->
         </div>
       </div>
     </div>
   </div>
 </div>


 <div class="modal fade" id="openpostmodalhomepage" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content" style="height: 636px ; margin: auto;">
      <div class="modal-body">
        <div class="row">
           <div class="col-7" style="margin-top: -16px;margin-left: -5px;height: 634px;background-color: #f0f0f0fc;border-top-left-radius: 10px; border-bottom-left-radius: 10px;"><img style="max-width: 100%;height: 100%; object-fit: contain;margin: auto;display: block;" [src]="postmodaltempdata?.posturl" /></div>
           <div class="col">
            <div>
                <div style="border-bottom: 1px solid #e0e0e0;padding-bottom: 10px;" class="profilepicinpost">
                    <img [src]="postmodaltempdata?.profileurl" style="width: 34px;height: 34px;border-radius: 50%;cursor: pointer;box-shadow: 0px 0px 1px #b2b1b1;" />
                    <span style="font-weight: 600;margin-left: 18px;font-size: 13px;">{{postmodaltempdata?.username}}</span>
                    <button style="float: right;border: none;background: none;font-size: 19px;" data-bs-toggle="modal" data-bs-target="#postmoreoption" ><i  class="fa-solid fa-ellipsis"></i></button>
                </div>
                <div style="padding-top: 5px;border-bottom: 1px solid #e1e1e1;margin-bottom: 12px;max-height: 142px;height: 140px;overflow-y: scroll;" class="profilepicinpost">
                  <img [src]="postmodaltempdata?.profileurl" style="width: 34px;height: 34px;border-radius: 50%;cursor: pointer;box-shadow: 0px 0px 1px #b2b1b1;" />
                  <span style="font-weight: 600;margin-left: 18px;font-size: 13px;">{{postmodaltempdata?.username}}</span>
                  <span style="margin-left: 10px;max-width:200px;word-wrap:break-word;">{{postmodaltempdata?.postcaption?.substring(0,20)}}</span>
                  <p style="margin-left: 10px;max-width:349px;word-wrap:break-word;">{{postmodaltempdata?.postcaption?.length>20?postmodaltempdata?.postcaption?.substring(20):""}}</p>
                 </div>
                 <div style="overflow-y: scroll;max-height: 253px;height: 253px ">
                  <mat-progress-bar *ngIf="showloader" mode="indeterminate" color="accent"></mat-progress-bar>
                  <div style="margin-top: 10px;" *ngFor="let commentdet of commentdetailsformodalpost">
                    <div style="padding-top: 0px; padding-bottom: 0px; " class="profilepicinpost">
                      <img [src]="commentdet?.imageurl" style="width: 34px;height: 34px;border-radius: 50%;cursor: pointer;box-shadow: 0px 0px 1px #b2b1b1;" />
                      <span style="font-weight: 600;margin-left: 18px;font-size: 13px;">{{commentdet?.username}}</span>
                      <button *ngIf="commentdet.iscurrentusercomment" data-bs-toggle="modal" data-bs-target="#deletecommentmodal" (click)="opendeletecommentmodal(postmodaltempdata.userid,postmodaltempdata.imagename,commentdet.commenttext)" style="float: right;border: none;background: none;font-size: 19px;" ><i  class="fa-solid fa-ellipsis"></i></button>
                      <button *ngIf="!commentdet.iscurrentusercomment" data-bs-toggle="modal" data-bs-target="#reportcommentmodal"  style="float: right;border: none;background: none;font-size: 19px;" ><i  class="fa-solid fa-ellipsis"></i></button>
                      <span style="margin-left: 10px;max-width:200px;word-wrap:break-word;font-size: 13px">{{commentdet?.commenttext?.substring(0,30)}}</span>
                      <p style="margin-left: 10px;max-width:349px;word-wrap:break-word;font-size: 13px">{{commentdet?.commenttext?.length>30?commentdet.commenttext.substring(30):""}}</p>
                      
                    </div> 
                  </div>
                </div> 
                <div>
                  <div style="margin-top: 12px" class="innerlikesandcomment">
                    <span (click)="savelikes(postmodaltempdata?.userid ,postmodaltempdata?.imagename)" *ngIf="!postmodaltempdata?.liked"><i  class="fa-regular fa-heart menuiconpost"></i></span>
                    <span (click)="dislike(postmodaltempdata?.userid ,postmodaltempdata?.imagename)" *ngIf="postmodaltempdata?.liked"><i class="fa-solid fa-heart menuiconpost" style="color: #ff0000;"></i></span> 
                    <span><i style="transform: scaleX(-1);" class="fa-regular fa-comment menuiconpost"></i></span>
                    <span><i style="rotate: 24deg;" class="fa-regular fa-paper-plane menuiconpost"></i></span>
                    <span ><i style="float: right;" class="fa-regular fa-bookmark menuiconpost"></i></span>
                  
                   </div>
                </div>
                <p *ngIf="postmodaltempdata?.likes>0" style="margin-top: 10px;font-weight: 500;">{{postmodaltempdata?.likes}} likes</p>
                <p *ngIf="postmodaltempdata?.likes==0" style="margin-top: 10px;font-weight: 500;">Be the first to like this</p>
                <div style="border-top: 1px solid #e2e2e2;margin-left: -12px;"><textarea class="commentinput" style="border: none;margin-top: 19px;margin-left: 13px;width: 386px;height: 58px"  (keyup)="addcomment()" [(ngModel)]="usercomment" type="text" placeholder="Add a comment..." autofocus></textarea>
                  <span  (click)="postcomment(postmodaltempdata?.userid,postmodaltempdata?.imagename)" *ngIf="showpost" style="color: #0087e5;float: right;font-size: 16px;margin-right: 20px;font-weight: 500;margin-top: 19px;cursor: pointer;">Post</span></div>
            </div>
            <div></div>
            <div></div>
           </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deletecommentmodal" style="background-color: rgb(25 25 25 / 78%);" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" >
    <div class="modal-content" style="width: 394px; margin: auto;">
      <div class="modal-body" style="box-shadow: 0px 0px 24px #424242;">
        <div style="height: 80px;">
           <div class="settinglinks" style="color: red;padding: 11px;text-align: center;cursor: pointer;margin-top: -13px;border-bottom: 1px solid #d1d1d1;" data-bs-dismiss="modal" (click)="deletecomment(postuseridfordelcomment,imagenamefordelcomment,commentfordel)">Delete</div>
           <div  class="settinglinkslast" style="padding: 11px;text-align: center;cursor: pointer;" data-bs-dismiss="modal" >Cancel</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="reportcommentmodal" style="background-color: rgb(25 25 25 / 78%);" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" >
    <div class="modal-content" style="width: 394px; margin: auto;">
      <div class="modal-body" style="box-shadow: 0px 0px 24px #424242;">
        <div style="height: 80px;">
           <div class="settinglinks" (click)="reportpopup()" style="color: red;padding: 11px;text-align: center;cursor: pointer;margin-top: -13px;border-bottom: 1px solid #d1d1d1;" data-bs-dismiss="modal">Report</div>
           <div  class="settinglinkslast" style="padding: 11px;text-align: center;cursor: pointer;" data-bs-dismiss="modal" >Cancel</div>
        </div>
      </div>
    </div>
  </div>
</div>

 <div class="modal fade" id="openpostmodalwhenupload" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered modal-xl">
     <div class="modal-content" style="height: 500px ; margin: auto;width: 74%;">
       <div class="modal-body">
         <div class="row">
            <div class="col-7" style="height: 470px;background-color: #f0f0f0fc"><img style="max-width: 100%;height: 100%; object-fit: contain;display: block;margin: auto;"[src]="instantuploadedimgurl" /></div>
            <div class="col">
             <div>
                 <div class="profilepicinpost">
                     <img [src]="profilepicurl" style="width: 34px;height: 34px;border-radius: 50%;cursor: pointer;box-shadow: 0px 0px 1px #b2b1b1;" />
                     <span style="font-weight: bold;margin-left: 18px;">{{AccountName}}</span>
                     <button class="share" (click)="createpost()" data-bs-dismiss="modal" >Share</button>
                 </div>
                 <div style="margin-top: 22px;">
                  <input class="captioninput" [(ngModel)]="caption" style="border: none;" type="text" placeholder="Write a caption" />
                 </div>
             </div>
             <div></div>
             <div></div>
            </div>
         </div>
       </div>
     </div>
   </div>
 </div>
<!-- for responsive navbar menu  -->
<nav *ngIf="navbarformobile" class="navbar fixed-bottom navbar-expand-lg bg-primary navbar-dark">
   <div class="container-fluid">
     <div class="navbar-brand" (click)="showhomepage()" ><i class="fa-solid fa-house menuicon"></i></div>
     <div class="navbar-brand" ><i class="fa-solid fa-magnifying-glass menuicon"></i></div>
     <div class="navbar-brand" > <i class="fa-regular fa-square-plus menuicon"></i></div> 
     <div class="navbar-brand" ><i class="fa-brands fa-facebook-messenger menuicon"></i></div>
     <div class="navbar-brand" (click)="showprofilepage()" ><img [ngStyle]="{'border':profilepageselected?'2px solid black':'none'}" [src]="profilepicurl" class="profilepicmenu"/></div>
   </div>
 </nav>
